<a href="https://colab.research.google.com/github/HarshadaDesai007/CourseWork-Programming-Module-/blob/main/RevisionTest2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Q1 .List with odd and even index elements from two lists

In [1]:
n1 = int(input("Number of elements in the first list : "))
n2 = int(input("Number of elements in the second list : "))
L1 = []
L2 = []
L3 = []
print("Elements in List 1")
for i in range(n1):
  L1.append(input())
print("Elements in List 2")
for i in range(n2):
  L2.append(input())
print("listOne",L1)
print("listTwo",L2)
print("Elememts at odd index ",L1[1::2])
print("Elements at even index ",L2[::2])
L3 = L1[1::2] + L2[::2]
print("Final List",L3)

Number of elements in the first list : 3
Number of elements in the second list : 4
Elements in List 1
1
2
3
Elements in List 2
2
3
4
5
listOne ['1', '2', '3']
listTwo ['2', '3', '4', '5']
Elememts at odd index  ['2']
Elements at even index  ['2', '4']
Final List ['2', '2', '4']

##### Q2. Remove an element from position 4 , add it to position 2 and also at the end of the list

In [5]:
n = int(input("Enter the number of elements: "))
L = []
for i in range(n):
  L.append(input())
print("Original List :",L)
x = L.pop(4)
print("List after removing element at index 4 ",L)
L.insert(2,x)
print("List after adding element at index 2",L)
L.append(x)
print("List after adding element at last ",L)

Enter the number of elements: 7
34
54
67
11
89
43
25
Original List : ['34', '54', '67', '11', '89', '43', '25']
List after removing element at index 4  ['34', '54', '67', '11', '43', '25']
List after adding element at index 2 ['34', '54', '89', '67', '11', '43', '25']
List after adding element at last  ['34', '54', '89', '67', '11', '43', '25', '89']

#### Q3. Slice a list into three equal chunks and reverse each chunk.

In [22]:
n = int(input("Enter the number of elements: "))
L = []
for i in range(n):
  L.append(int(input()))
x = [L[i:i + 3] for i in range(0, len(L), 3)] 
l1 = x[0]
l2 = x[1]
l3 = x[2]
print("Chunk 1 ",l1)
print("After reversing it",l1[::-1])
print("Chunk 2 ",l2)
print("After reversing it",l2[::-1])
print("Chunk 3 ",l3)
print("After reversing it",l3[::-1])

Enter the number of elements: 9
1
2
3
4
5
6
7
8
9
Chunk 1  [1, 2, 3]
After reversing it [3, 2, 1]
Chunk 2  [4, 5, 6]
After reversing it [6, 5, 4]
Chunk 3  [7, 8, 9]
After reversing it [9, 8, 7]

##### Q4.Count the occurrence of each element in a list

In [23]:
n = int(input("Enter the number of elements: "))
L = []
for i in range(n):
  L.append(int(input()))
d = {}
uniquele = sorted(list(set(L)))
for ele in uniquele:
  d[ele] = 0
for ele in L:
  d[ele]+=1
for key,values in d.items():
  print("{} occurs {} times".format(key,values))

Enter the number of elements: 5
1
1
2
3
3
1 occurs 2 times
2 occurs 1 times
3 occurs 2 times

##### Q5. Form a set of elements

In [31]:
n = int(input("Enter the number of elements: "))
L1 = []
for i in range(n):
  L1.append(int(input()))
print("First List ",L1)
L2 = []
for i in range(len(L1)):
  ele = L1[i]*L1[i]
  L2.append(ele)
print("Second List",L2)
s = set((ele_1, ele_2) for ele_1, ele_2 in zip(L1, L2) if ele_2==ele_1**2)    
print("Result is ",s)

Enter the number of elements: 3
1
2
3
First List  [1, 2, 3]
Second List [1, 4, 9]
Result is  {(3, 9), (1, 1), (2, 4)}

##### Q7.Check if one set is subset of other and delete the elements if found

In [42]:
L1 =[]
L2 =[] 
n1 = int(input("Enter number of elements in first set "))
for i in range(n1):
  L1.append(int(input()))
s1 = set(L1)  
 
n2 = int(input("Enter number of elements in second set "))
for i in range(n2):
  L2.append(int(input()))
s2 = set(L2)

print("First Set",s1) 
print("Second Set",s2)   
x = s1.issubset(s2)
y = s2.issubset(s1)
print("First set is a subset of second set ",x)  
print("Second set is a subset of first set ",y) 
print("First set is a superset of second set ",not x) 
print("Second set is a superset of first set ",not y)
if (s1.issubset(s2)):
  s1=s1.difference(s2)
else:
  s2=s2.difference(s1)
print("First Set",s1) 
print("Second Set",s2)

Enter number of elements in first set 3
1
2
3
Enter number of elements in second set 5
1
2
3
4
5
First Set {1, 2, 3}
Second Set {1, 2, 3, 4, 5}
First set is a subset of second set  True
Second set is a subset of first set  False
First set is a superset of second set  False
Second set is a superset of first set  True
First Set set()
Second Set {1, 2, 3, 4, 5}

##### Q6. Intersection of sets and remove the common elements

In [46]:
L1 =[]
L2 =[] 
n1 = int(input("Enter number of elements in first set "))
for i in range(n1):
  L1.append(int(input()))
s1 = set(L1)  
 
n2 = int(input("Enter number of elements in second set "))
for i in range(n2):
  L2.append(int(input()))
s2 = set(L2)

s3 = s1.intersection(s2)
print("Intersection is ",s3)
s1 = s1.difference(s3)
print("First set after removing common elements ",s1)

Enter number of elements in first set 4
1
2
3
4
Enter number of elements in second set 3
1
4
6
Intersection is  {1, 4}
First set after removing common elements  {2, 3}

###### Q8. Remove unwanted elements from dictionary

In [65]:
rollno = []
sampleDict = {}
n = int(input("How many roll numbers you want to enter? "))
for i in range(n):
  rollno.append(int(input()))
n1 = int(input("How many entries in the dictionary? "))
for i in range(n1):
  name = input("Enter student name :")
  roll = int(input("Enter the student roll number :"))
  sampleDict[name] = roll 
testList = sampleDict.values()

for ele in rollno:
  if (ele not in testList):
    rollno.remove(ele) 
print("After removing unwanted elements from the list :",rollno)

How many roll numbers you want to enter? 8
47
64
69
37
76
83
95
97
How many entries in the dictionary? 4
Enter student name :John
Enter the student roll number :47
Enter student name :Emma
Enter the student roll number :69
Enter student name :Kelly
Enter the student roll number :76
Enter student name :Jason
Enter the student roll number :97
After removing unwanted elements from the list : [47, 69, 76, 95, 97]