<a href="https://colab.research.google.com/github/HarshadaDesai007/CourseWork-Programming-Module-/blob/main/Week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculate_BMI():
  weight = float(input('Please enter your weight (Kg) '))
  height = float(input('Please enter your height (cm) '))
  bmi = (weight/(height*height))

  if bmi <= 24:
    print('Your BMI is', bmi, ' You are underweight.You need to follow a proper diet')

  elif 24 < bmi < 30:
    print('Your BMI is', bmi,' You are normal.')

  elif 30 < bmi < 36:
    print('your BMI is', bmi,' You are overweight.Start exercising.')

  elif bmi > 36:
    print('Your BMI is', bmi,'You are obese. Your health needs attention.')

In [ ]:
calculate_BMI()

Please enter your weight (Kg) 89
Please enter your height (cm) 168
Your BMI is 0.003153344671201814  You are underweight.You need to follow a proper diet

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sample = np.random.randn(6,4)
sample

array([[ 1.03742334, -1.13700932,  0.9841967 ,  1.25321396],
       [-0.00387618, -1.98180421, -0.38894764, -1.163491  ],
       [-1.02213501,  0.69764772,  1.02531639,  0.24633063],
       [ 0.4933949 ,  1.26296307, -0.31544103,  1.95314553],
       [ 0.48162062, -0.92885927,  0.70592699, -0.41254246],
       [ 0.05726254, -0.46571271, -1.43127128, -1.45973413]])

In [ ]:
data1 = pd.DataFrame(sample,columns=["Cust1","Cust2","Cust3","Cust4"])
data1

      Cust1     Cust2     Cust3     Cust4
0  1.037423 -1.137009  0.984197  1.253214
1 -0.003876 -1.981804 -0.388948 -1.163491
2 -1.022135  0.697648  1.025316  0.246331
3  0.493395  1.262963 -0.315441  1.953146
4  0.481621 -0.928859  0.705927 -0.412542
5  0.057263 -0.465713 -1.431271 -1.459734

##List function will convert your String into separate literals and pass it as column name.

In [ ]:
data11 = pd.DataFrame(sample,columns=list("ABCD"))
data11

          A         B         C         D
0  1.037423 -1.137009  0.984197  1.253214
1 -0.003876 -1.981804 -0.388948 -1.163491
2 -1.022135  0.697648  1.025316  0.246331
3  0.493395  1.262963 -0.315441  1.953146
4  0.481621 -0.928859  0.705927 -0.412542
5  0.057263 -0.465713 -1.431271 -1.459734

###Dictionary to data Frames

####The dictionary keys become your column names and values become the row values